
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

a {
    text-decoration: none;
    color: inherit;
}



.dashboard {
    display: flex;
    min-height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}



.dashboard_main {
    flex-basis: 80%;
}
/* main heading of dashboard */
.Dashboard-main{
/* margin-top: 40px; */
    padding: 2.7em ;

}
.Dashboard-main h1{
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Dashboard-main p{
    font-size: 1.5rem;
    margin-top: 0.3em;
    font-family: 'Times New Roman', Times, serif;
    color: #535353;
}


/* side bar css */
.dashboard_sidebar {
    flex-basis: 20%;
    background-color: #252525;
    padding: 20px 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
   
}

.dashboard_sidebar>div {
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.sidebar-line{
    
    background: #292626;
   
}
.sidebar-line:nth-of-type(2){
    margin-top: 3rem;
}



.dashboard_sidebar__header>div {
    display: flex;
    align-items: center;
  margin-bottom: 5px;
    gap: 10px;
   

}


.dashboard_sidebar__header__logo {
    width: 50px;
    height: 50px;
    margin-bottom: 78px;
    margin-left: 10px;
}

.dashboard_sidebar__header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard_sidebar__header__title {
    display: flex;
    flex-direction: column;
    gap: 5px;
   margin-bottom: 56px;
  
   

}
.sidebar-line{
    /* all: unset; */
    display: block;
    width: 100%;
    height: 1px ;
   background-color : #504e4e !important;
   /* color: white; */
}
.sidebar-line:nth-of-type(2){
    margin-top: 10em;
}

.dashboard_sidebar__header__title h1 {
    color: #fff;
    font-size: 2.3em;
    line-height: 100%;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
     

}


.dashboard_sidebar__header__title p {
    color: #ffffffab;
    font-size: 1em;
    line-height: 100%;
}


/* sidebar navgation links */


.dashboard_sidebar__nav ul {
    list-style: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    font-size: 1.3rem;
    margin-left: 30px;
   
}


.dashboard_sidebar__nav ul li a {
    /* display: inline-block; */
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    width: 100%;
    padding: 0.3em ;
    border-radius: 5px;
   
    transition: all 0.1s ease-in-out;
}
.menu-icon{
    width: 24px;    
    height: 28px;
    object-fit: contain;
}



.dashboard_sidebar__nav ul li a:hover {
    background-color: #343232;
    padding: 0.3em ;
    border-radius: 5px;
}





.dashboard_sidebar__footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
}



.dashboard_sidebar__footer button {
    all: unset;
    /* background-color: #fff; */
    color: rgb(223, 19, 19);
    padding: 0.3em 0.5em;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    font-size: 1.7rem;
    cursor: pointer;
    
    display: flex;          /* ADD */
    align-items: center;   /* ADD */
    gap: 10px;
}
.logout-icon{
    
    width: 24px;    
    height: 28px;
    object-fit: contain;

}

.dashboard_sidebar__footer button:hover {
    background-color: #3c3b3b;
    color: #fff;
}
